# Aquí irán las variables de estado futuras si son necesarias.
# Por ahora Playwright usará el perfil local para recordar la sesión de Facebook.
FACEBOOK_USERNAME=correo_o_telefono
FACEBOOK_PASSWORD=tu_contraseña

# URL de la página oficial de Gano Excel (para futuros enlaces directos y Modelo 1)
FACEBOOK_PAGE_URL=https://www.facebook.com/profile.php?id=100080372792708
