# Aquí irán las variables de estado futuras si son necesarias.
# Por ahora Playwright usará el perfil local para recordar la sesión de Facebook.
FACEBOOK_USERNAME=correo_o_telefono
FACEBOOK_PASSWORD=tu_contraseña

# URL de la página oficial de Gano Excel (para futuros enlaces directos y Modelo 1)
FACEBOOK_PAGE_URL=https://www.facebook.com/profile.php?id=100080372792708

# Modo Servidor (True para DigitalOcean, False para tu PC local)
HEADLESS_MODE=False

# Tu número con código de país (Ej: 51987654321, sin el signo '+')
WHATSAPP_PHONE=

# Inteligencia Artificial (Gemini API Key para generación de copies y lead scoring)
GEMINI_API_KEY=

# Notificaciones y Alertas del Búnker en tu celular a través de Telegram
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
