# Secretos Entorno Local
.env
playwright_profile/

# Archivos pesados extraídos
*.mp4
*.pptx
*.zip
temp_ppt/
temp_ppt_unzipped/

# Archivos Python basura
__pycache__/
*.pyc

# Data temporal de Meta y Bot
historial_multimedia.json
fallo_imagen_*.png
s i n e r g i a _ c l o u d . d b  
playwright_whatsapp_1/
*.db
*.log

qrs/
*.json